.product-container {
  --margin-top-bottom: 6px;

  display: grid;
  grid-template-columns: 288px 288px 288px 288px;
  gap: 16px;
}

.product-item {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  padding: 12px 12px;
}

.product-img {
  height: 200px;
}

.product-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pro-name {
  font-weight: 500;
  font-size: 1.6rem;
  margin-top: 6px;
  overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.pro-local {
  font-size: 1.2rem;
  color: #6b6b83;
  margin: var(--margin-top-bottom) 0;
}

.price {
  font-size: 1.4rem;
  color: var(--primary);
  margin-bottom: var(--margin-top-bottom);
}

.vote {
  color: #fcb71b;
}

/* Add product */

.product-post {
  width: 600px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  margin: 0 auto;
  padding: 28px 20px;
  margin-top: 60px;
}

.post-item {
  margin-top: 20px;
  margin-bottom: 12px;
}

.post-item input,
select {
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  width: 100%;
  border-radius: 3px;
}

.name-item {
  display: block;
  margin-bottom: 6px;
}

textarea {
  width: 100%;
  padding: 6px 12px;
  font-size: 1.6rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

textarea:focus {
  outline: none;
}

.view-detail {
  word-break: break-word;
}

/* Edit item */

.show-add-item {
  margin-top: 60px;
}

.show-list-item {
  display: flex;
}

/* delete item */

.handel-delete {
  text-align: center;
  border: 1px solid #ccc;
  width: 120px;
  margin: 0 auto;
  border-radius: 3px;
  margin-top: 12px;
}

.back + .handel-submit {
  margin-top: 10px;
  margin-right: 10px;
}

/* detail product css */

.detail-product {
  line-height: 2;
  align-items: center;
  background-color: var(--white);

}

.img-product {
  width: 260px;
  height: 260px;
}

.detail {
  padding: 20px 36px;
}

.desc {
  font-size: 1.6rem;
  word-break: break-word;
}

.price {
  margin: 6px 0;
}

.order {
  display: inline-flex;
}

.order > input {
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin-right: 12px;
  padding: 6px 12px;
  border-radius: 3px;
  font-size: 1.4rem;
}

.detail-product-row {
  padding: 12px 36px;
}

.detail-product-row h2 {
  font-size: 2rem;
  font-weight: 600;
}

/* cart */

.count {
  position: absolute;
  top: -10px;
  left: 20px;
  font-size: 1.8rem;
  background-color: var(--white);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  color: var(--primary);
  text-align: center;
  line-height: 20px;
}

.form-cart {
  margin-top: 60px;
}

.message {
  border: 1px solid rgb(4, 255, 4);
  background-color: rgb(4, 255, 4);
  color: #fff;
  font-size: 1.8rem;
  padding: 12px 24px;
}

.cart-empty {
  border: 1px solid rgb(253, 152, 0);
  background-color: rgb(253, 152, 0);
  color: #fff;
  font-size: 1.8rem;
  padding: 12px 24px;
}

.cart {
  border-color: var(--primary);
  width: 100%;
}

.cart tr td {
  text-align: center;
  padding: 6px 12px;
}

/* comment */

.user-sta {
  background-color: var(--white);
  padding: 20px 36px;
}

.user-sta > h4 {
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 600;
}
 
.user-cmt {
  display: flex;
  padding: 14px 0;
}

.img-user {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  background-color: #ccc;
  
}

.detail-user {
  margin-left: 12px;
}

.time {
  color: #0000008a;
  font-size: 1.2rem;
}

.cmt {
  font-size: 1.6rem;
} 

.input-cmt {
 border: 1px solid #ccc;
  padding: 12px 24px;
  font-size: 1.6rem;
  width: 100%;
  border-radius: 999px;
  margin: 12px 0;
}

